@font-face {
    font-family: "Caraprismo";
    src: url(./Caprasimo-Regular.ttf);
}

@font-face {
    font-family: "Spline Sans";
    src: url(./SplineSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Instrument Serif";
    src: url(./InstrumentSerif-Regular.ttf);
}

html {
    --green: #
    --yellow: #
}